body {
    background: #f5f5f5;
}

.section-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.m-b-5 {
    margin-bottom: 5px;
}

.m-0 {
    margin: 0;
}

.m-b-30 {
    margin-bottom: 30px;
}

.m-r-5 {
    margin-right: 5px;
}

.m-r-15 {
    margin-right: 15px;
}

.m-t-minus-90 {
    margin-top: -90px;
}

.text-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
}