.info-card {
    background: #fff;
    text-align: center;
    padding: 50px 30px;
    margin: 30px auto;
    border-radius: 3px;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.06);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.06);
  }
  
  .info-card .info-card_icon {
    height: 125px;
    width: 125px;
    margin: 0 auto 30px auto;
    border: 5px solid #4caf50;
    border-radius: 125px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .info-card .info-card_icon i {
    font-size: 50px;
    color: #4caf50;
  }
  
  .info-card .info-card_label {
    margin-bottom: 15px;
  }
  
  .info-card .info-card_message {
    margin-bottom: 15px;
  }
  
  .info-card .btn {
    background: #03a9f4;
  }
  
  .info-card--success .info-card_icon {
    border-color: #4caf50;
  }
  
  .info-card--success .info-card_icon i {
    color: #4caf50;
  }
  
  .info-card--danger .info-card_icon {
    border-color: #f44336;
  }
  
  .info-card--danger .info-card_icon i {
    color: #f44336;
  }
  
  .info-card--warning .info-card_icon {
    border-color: #ff9800;
  }
  
  .info-card--warning .info-card_icon i {
    color: #ff9800;
  }