.navbar {
    background-color: #fff !important;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.06);
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand img {
    height: 35px;
    margin-right: 10px;
}

@media only screen and (max-width: 767px){
    .nav-form{
        .form-control{
            margin-bottom: 3px;
        }
        .btn{
            width:100%;
        }
    }
}