.follower-card {
    padding-bottom: 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.follower-name {
    color: #007bff;
    cursor: pointer;
}

.follower-card img {
    height: 50px;
    width: 50px;
    border-radius: 80px;
    border: 1px solid #fff;
    margin-right: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.06);
}

.follower-data h5,
.follower-data p {
    margin-bottom: 0;
}