body {
  background: #f5f5f5;
}

.section-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.m-b-5 {
  margin-bottom: 5px;
}
.m-0 {
  margin: 0;
}

.m-b-30 {
  margin-bottom: 5px;
}

.m-r-5 {
  margin-right: 5px;
}

.m-r-15 {
  margin-right: 15px;
}

.m-t-minus-90 {
  margin-top: -90px;
}

.text-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.navbar {
  background-color: #fff !important;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.06);
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand img {
  height: 35px;
  margin-right: 10px;
}

.home-section {
  background: #1e3c72;
  background: -webkit-linear-gradient(to right, #2a5298, #1e3c72);
  background: linear-gradient(to right, #2a5298, #1e3c72);
  padding: 30px 0 80px 0;
}

.ui-card {
  background-color: #fff;
  display: block;
  overflow: hidden;
  margin-bottom: 30px;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.06);
}
.ui-card--15{
  padding: 15px;
}
.ui-card_header{
  padding: 15px;
  border-bottom: 1px solid #ddd;
}
.ui-card_header-title{
  margin:0;
  display: inline-block;
}
.ui-card_body{
  padding: 15px;
}

.user-card {
  text-align: center;
}

.user-card .user-card_img {
  margin-bottom: 15px;
}

.user-card .user-card_img img {
  height: 150px;
  width: 150px;
  border-radius: 150px;
  border: 5px solid #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.06);
}

.follower-card {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.follower-name {
  color: #007bff;
  cursor: pointer;
}

.follower-card img {
  height: 30px;
  width: 30px;
  border-radius: 80px;
  border: 1px solid #fff;
  margin-right: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.06);
}

.follower-data h5,
.follower-data p {
  margin-bottom: 0;
}

.repo-card {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 15px;
}

.stat-card {
  position: relative;
  overflow: hidden;
}

.stat-card .stat-card_icon {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 70px;
  transform: rotate(-12deg);
  opacity: 0.3;
}

.stat-card .stat-card_icon p {
  margin-bottom: 0;
}

.stat-card-color div:nth-child(1) .stat-card {
  background: #03a9f4;
  color: #fff;
}

.stat-card-color div:nth-child(2) .stat-card {
  background: #4caf50;
  color: #fff;
}

.stat-card-color div:nth-child(3) .stat-card {
  background: #ff9800;
  color: #fff;
}

.stat-card-color div:nth-child(4) .stat-card {
  background: #607d8b;
  color: #fff;
}